.phone-validator-container {
	max-width: 100%;
	margin-left: 10px;
	min-height: 90px;
	@media screen and (min-width: 560px) {
		min-height: 77px;
	}
	.phone-validator-field, .phone-validator-valid {
		float: left;
		min-height: 90px;
		@media screen and (min-width: 560px) {
			min-height: 77px;
		}
		label {
			height: 24px;
			display: block;
			font-size: 13px;
		}
		input[name="prefix"] {
			max-width: 80px;
			margin-right: 15px;
			float: left;
		}
		input[name="phoneNumber"] {
			max-width: 110px;
			float: left;
			margin-right: 15px;
		}
		.phone-validator-error {
			height: 19px;
		}
	}
	.phone-validator-valid {
		position: relative;
		.phone-validator-valid-field {
			background-color: #f0f2f5;
			margin-right: 15px;
			padding-left: 15px;
			border-radius: 4px;
			width: 205px;
			height: 48px;
			line-height: 48px;
			@media screen and (min-width: 560px) {
				width: 198px;
				height: 34px;
				line-height: 34px;
			}
		}
	}
	.btn {
		float: left;
		margin-top: 24px;
		width: calc(100% - 230px);
		height: 48px;
		line-height: 48px;
		@media screen and (min-width: 560px) {
			width: auto;
			height: 34px;
			line-height: 34px;
		}
	}
	.phone-validator-form {
		width: 100%;
		.container-field {
			float: none;
			width: 200px!important;
			margin: 0 auto;
		}
		.button-container {
			float: none;
			width: 200px!important;
			margin: 0 auto;
			height: 34px;
			text-align: center;
			.btn {
				float: none;
				min-width: 120px;
				height: 40px;
				line-height: 40px;
				width: auto;
				margin-top: 0px;
			}
		}
	}
}
