.tag {
  background: #0084ff;
  font-size: 11px;
  color: #fff;
  width: auto;
  height: 20px;
  line-height: 20px;
  float: left;
  padding: 0px 0px 0px 8px;
  margin-right: 15px;
  border-radius: 2px;
  margin-bottom: 5px;
  div {
    float: left;
  }
  .tag-close {
    float: right;
    padding-left: 5px;
    cursor: pointer;
    background: url(/admin/assets/img/x.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 9px;
    width: 21px;
  }
}
