.vacancies {
	position: relative;
	clear: both;
	margin-left: 10px;
	.vacancies-head {
		width: 100%;
		clear: both;
		display: none;
		@media screen and (min-width: 560px) {
			display: block;
		}
		div {
			float: left;
			min-height: 24px;
			font-weight: 700;
		}
	}
	.vacancies-row {
		width: calc(100% - 10px);
		clear: both;
		padding: 10px;
		position: relative;
		div {
			position: relative;
			padding-left: 50%;
			height: 25px;
			line-height: 25px;
		}
		div:before {
			position: absolute;
			top: 0;
			left: 6px;
			width: 50%;
			padding-right: 10px;
			white-space: nowrap;
			font-family: 'MuseoSans_700';
			font-weight: 700;
		}
		div:nth-of-type(1):before { content: "Inizio"; }
		div:nth-of-type(2):before { content: "Fine"; }
		div:nth-of-type(3):before { content: "Prezzo"; }
		div:nth-of-type(4):before { content: "Disponibile"; }
		div:nth-of-type(5):before { content: "Frequenza"; }
		div:nth-of-type(6):before { content: "Note"; }
		.vacancies-bin, .vacancies-bin div {
			padding-left: 0px;
		}
		.vacancies-bin div:before {
			display: none;
			content: '';
		}
		@media screen and (min-width: 560px) {
			width: 100%;
			padding: 0px;
			height: 34px;
			line-height: 34px;
			display: block;
			div {
				float: left;
				padding-left: 0px;
				height: 34px;
				line-height: 34px;
			}
			div:before {
				display: none;
			}
			div:nth-of-type(1):before { content: ""; }
			div:nth-of-type(2):before { content: ""; }
			div:nth-of-type(3):before { content: ""; }
			div:nth-of-type(4):before { content: ""; }
			div:nth-of-type(5):before { content: ""; }
			div:nth-of-type(6):before { content: ""; }
		}
		.vacancies-bin {
			width: 34px;
			position: absolute;
			right: 0px;
			height: 34px;
			top: 0px;
			div {
				width: 34px;
				height: 34px;
				text-align: center;
			}
			svg {
				margin-top: 8px;
			}
			@media screen and (min-width: 560px) {
				position: relative;
				right: auto;
				top: auto;
				width: 32px;
				float: right;
				cursor: pointer;
			}
		}
	}
	.vacancies-row:nth-child(odd) {
		background: #f8f9fa;
	}
	.vacancies-row > .vacancies-bin {
		top: 44px;
	}
	.vacancies-row > .vacancies-bin ~ .vacancies-bin {
		top: 10px;
	}
	@media screen and (min-width: 560px) {
		.vacancies-row > .vacancies-bin {
			top: auto;
		}
		.vacancies-row > .vacancies-bin ~ .vacancies-bin {
			top: auto;
		}
	}
	.vacancies-head .vacancies-cell, .vacancies-row .vacancies-cell {
		min-width: 100px;
	}
	.vacancies-head .vacancies-cell-small, .vacancies-row .vacancies-cell-small {
		min-width: 60px;
	}
	.vacancies-add {
		width: 100%;
		clear: both;
		display: inline-block;
		margin: 15px 0px;
		button {
			float: right;
			margin-right: 10px;
		}
	}
	.vacancies-pop {
		display: inline-block;
		position: relative;
		input, input[type=text] {
			padding: 7px 8px!important;
			height: 34px!important;
			min-height: 34px!important;
		}
		.select-style {
			height: 34px;
			line-height: 34px;
		}
		.select-style select {
			height: 34px;
		}
		.select-style svg {
			top: 4px;
		}
		.container-field {
			max-height: 77px;
		}
		.small-date {
			max-width: 115px;
			margin-left: 0px;
		}
		.small-price {
			max-width: 60px;
			margin-left: 0px;
		}
		.small-check {
			padding-top: 28px;
			max-width: 107px;
			margin-left: 0px;
			margin-right: 0px;
		}
		.small-select {
			max-width: 107px;
			margin-left: 0px;
			margin-right: 0px;
		}
		.small-notes {
			width: 100%!important;
			max-width: 100%;
			margin-left: 0px;
		}
		.delete-button {
			float: right;
			height: 32px;
			width: 32px;
			margin-top: 24px;
			line-height: 32px;
			text-align: center;
			margin-left: 10px;
			cursor: pointer;
			font-size: 32px;
		}
		.container-field {
			max-height: 77px;
			min-height: 77px;
		}
		.button-container {
			margin-right: 0px;
			margin: 0 auto;
			display: inline-block;
			position: relative;
			width: 100%;
			.btn {
				margin: 0 auto;
				width: 120px;
				float: none;
				position:absolute;
        left:0;
				right:0;
        top:0;
				bottom:0;
				margin-top: 10px;
			}
		}
	}
	.overlay-cont {
		width: 590px;
		@media screen and (max-width: 600px) {
			width: calc(100% - 20px);
			min-height: calc(100% - 20px);
			margin-top: 10px!important;
		}
	}
}
