.leaflet-comp {
	position: relative;
	float: right;
	width: 290px;
	@media screen and (max-width: 760px) {
		float: left;
		width: 100%;
		margin: 30px 0px 0px;
	}
	.btn-over-map {
		position: absolute;
		z-index: 999;
		bottom: 15px;
		left: calc((100% - 133px) / 2);
		cursor: pointer;
		font-size: 12px!important;
		width: 133px;
	}
	.leaflet-touch .leaflet-bar {
		box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .01), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
		border-width: 1px;
		border-radius: 2px;
	}
}

.leaflet-mobile {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 2147483647;
	top: 0;
	left: 0;
	margin: 0px;
	.leaflet-container {
		width: 100%;
		height: 100%;
	}
}
