.alert {
	.alert-head {
		background-color: #f0f2f5;
		display: inline-block;
		width: 100%;
		height: 65px;
		position: relative;
		@media screen and (min-width: 560px) {
			height: 120px;
		}
		.alert-close {
			position: absolute;
			width: 25px;
			cursor: pointer;
			font-size: 25px;
			height: 40px;
			line-height: 35px;
			right: 0px;
			z-index: 32;
			&::after {
				content: "\D7";
			}
		}
		.alert-title {
			width: 100%;
			clear: both;
			text-align: center;
			font-size: 16px;
			font-weight: 700;
			line-height: normal;
			position: absolute;
			top: 10px;
			@media screen and (min-width: 560px) {
				font-size: 18px;
				top: 40px;
			}
		}
	}
	.alert-icon {
		position: absolute;
		width: 50px;
		height: 50px;
		border-radius: 25px;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
		background-color: #ffffff;
		left: -webkit-calc((100% - 50px)/2);
		left: -moz-calc((100% - 50px)/2);
		left: calc((100% - 50px)/2);
		top: 40px;
		padding-top: 12px;
		text-align: center;
		z-index: 1;
		@media screen and (min-width: 560px) {
			top: 87px;
			width: 67px;
			height: 67px;
			border-radius: 33px;
			padding-top: 15px;
			left: -webkit-calc((100% - 67px)/2);
			left: -moz-calc((100% - 67px)/2);
			left: calc((100% - 67px)/2);
		}
		@media screen and (max-width: 560px) {
			img {
				width: 18px;
			}
		}
	}
	.alert-text-red {
		color: #e4002b;
		width: 100%;
		float: left;
		clear: both;
		margin-bottom: 13px;
		display: inline-block;
		font-size: 14px;
		text-align: center;
		font-weight: 500;
		line-height: normal;
		position: relative;
	}
	.alert-text-black {
		width: 100%;
		float: left;
		clear: both;
		margin-bottom: 27px;
		text-align: center;
		line-height: normal;
		position: relative;
		display: inline-block;
	}
	.alert-actions {
		position: relative;
		width: 100%;
		line-height: normal;
		text-align: center;
		margin: 0 auto;
		display: inline-block;
		@media screen and (min-width: 560px) {
			width: 420px;
		}
		.btn {
			position: relative;
			margin: 0 auto;
			min-width: 100px;
			svg {
				background: none;
				position: absolute;
				left: 8px;
				top: 8px;
			}
		}
		.btn-white {
			float: left;
		}
		.btn-red {
			float: right;
		}
	}
	.overlay-cont {
		.overlay-data {
			padding: 50px 15px 15px;
		}
	}
	@media screen and (max-width: 560px) {
		.overlay-cont {
			width: calc(100% - 20px);
			min-height: calc(100% - 20px);
			margin-top: 10px!important;
			.overlay-data {
				min-height: 370px;
				overflow-y: scroll;
				padding: 35px 15px 15px;
			}
		}
	}
}
