.leaflet-container {
		height: 360px;
		width: 290px;
		float: right;
		@media screen and (max-width: 760px) {
			float: left;
			width: 100%;
		}
}

.custom-map {
	width: -webkit-calc(100% - 20px)!important;
	width: -moz-calc(100% - 20px)!important;
	width: calc(100% - 20px)!important;
	@media screen and (min-width: 560px) {
		width: -webkit-calc(100% - 10px)!important;
		width: -moz-calc(100% - 10px)!important;
		width: calc(100% - 10px)!important;
	}
	.custom-map-fields {
		width: 50%;
    display: inline-block;
		float: left;
		@media screen and (max-width: 760px) {
			width: 100%;
		}
		.custom-map-field {
			float: left;
			margin-right: 15px;
			width: 100%;
			position: relative;
			@media screen and (min-width: 560px) {
				width: 290px;
			}
			.select-style-disabled {
				border: none;
				cursor: default;
				svg {
					display: none;
				}
				select {
					padding-left: 0px;
					cursor: default;
				}
			}
		}
		.custom-map-field-s {
			float: left;
			width: calc((100% - 15px) / 2);
			margin-right: 15px;
			@media screen and (min-width: 560px) {
				width: 137px;
			}
		}
		.custom-map-label {
			width: 100%;
	    float: left;
	    height: 24px;
		}
	}
	.custom-map-fields > .custom-map-field-s ~ .custom-map-field-s {
		margin-right: 0px;
	}
	#map {
		width: 290px;
		float: right;
		margin: 0px;
		@media screen and (max-width: 760px) {
			float: left;
			width: 100%;
		}
	}

	svg path {
		fill: #949da2;
	}

	.autosuggest_cont {
		@media screen and (max-width: 600px) {
			height: 47px;
		}
	}

	.client-form {
		display: inline-block;
		.container-field {
			width: calc(100% - 20px)!important;
		}
		input[type='radio'] + label {
			height: auto;
			font-size: 12px;
		}
		input[type="radio"] + label > div {
		    width: calc(100% - 24px);
		    line-height: 24px;
		    padding-left: 5px;
		    cursor: pointer;
		    float: left;
				white-space: unset;
		    height: auto;
		}
	}
	.alert {
		.alert-actions {
			.btn-white {
				float: left!important;
				border: 1px solid #323f48!important;
				width: 100px;
				padding: 0px;
				text-align: center;
				margin-top: 10px;
			}
			.button-container {
				margin-right: 0px;
			}
			.btn {
				width: 100px;
				padding: 0px;
				text-align: center;
			}
		}
	}

	.map-info {
		clear: both;
		float: right;
		line-height: 40px;
		text-decoration: underline;
		width: 100%;
		text-align: center;
		cursor: pointer;
		@media screen and (min-width: 600px) {
			width: 290px;
		}
	}

	.map-info-alert {
		width: 100%;
    text-align: left;
    margin-top: 30px;
		.map-info-alert-title {
			font-size: 13px;
			font-weight: 700;
			line-height: 24px;
		}
		ul {
			list-style-type: circle;
			li {
				margin-left: 20px;
				font-size: 11px;
				line-height: 16px;
			}
		}
	}
}
