.status {
	//background-image: url(/admin/assets/img/default.svg) !important;
	//background-repeat: no-repeat !important;
	//background-position: 0px 0px !important;
	//background-size: 33px !important;
	position: absolute;
	z-index: 1;
	top: 27px;
	right: 4px;
	@media screen and (max-width: 600px) {
		top: 36px;
		right: 10px;
	}
}

.spin {
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.react-autosuggest__container {
	position: relative;
}

.react-autosuggest__input {
	width: 290px;
	height: 33px;
	padding: 10px 20px;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 13px;
	border: none!important;
	height: 28px!important;
	border-radius: 4px;
	@media screen and (max-width: 600px) {
		height: 45px!important;
	}
}

.react-autosuggest__input--focused {
	outline: none;
}

.react-autosuggest__input--open {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
	display: none;
}

.react-autosuggest__suggestions-container--open {
	display: block;
	position: absolute;
	top: 30px;
	left: -1px;
	width: 290px;
	border: 1px solid #aaa;
	background-color: #fff;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 13px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	z-index: 2;
	@media screen and (max-width: 560px) {
		top: 48px;
		width: 100%;
	}
}

.react-autosuggest__suggestions-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.react-autosuggest__suggestion {
	cursor: pointer;
	padding: 10px 10px;
}

.react-autosuggest__suggestion--highlighted {
	background-color: #ddd;
}

.input_style_error {
	border: 1px solid #e4002b!important;
}
