.contacts {
	float: left;
	padding: 0px;
	max-width: 100%;
	margin-bottom: 10px;
	.button-container {
		margin-right: 10px;
	}
	.btn-white {
		margin-left: 10px;
	}
	@media screen and (min-width: 560px) {
		padding-right: 10px;
	}
	@media screen and (min-width: 768px) {
		padding: 20px;
		max-width: 708px;
		.button-container {
			margin-right: 0px;
		}
		.btn-white {
			margin-left: 0px;
		}
	}
	.check {
		padding-top: 0px;
		min-height: 40px;
	}
	.all-width {
		width: calc(100% - 20px)!important;
	}
}
