.custom-depth-form .custom-depth-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
	.custom-radio-options {
		@media screen and (max-width: 560px) {
			margin-right: 20px;
			width: 140px;
			float: left;
		}
	}
}
