.project-edit {
  float: left;
  width: 708px;
  max-width: 708px;
	padding: 20px;
	display: inline-block;

  @media screen and (max-width: 760px) {
    width: 100%;
    overflow: hidden;
		padding: 10px 0px;
		.btn-white {
			margin-left: 10px;
		}
  }

  .map {
		@media screen and (min-width: 560px) {
			width: 100%!important;
		}
  }

	.smiles {
		.floating {
			opacity: .3;
			width: 30px;
			background-color: transparent!important;
			margin-right: 15px;
		}
		.selected-radio {
			opacity: 1!important;
			background-color: transparent!important;
		}
		.smile {
			background-image: url(/admin/assets/img/smile-regular.svg);
			background-repeat: no-repeat;
			border: none;
			width: 29px;
			transition-duration: 0.2s, 0.2s;
			transition-timing-function: ease-in, ease-out;
			&:hover {
				opacity: 1!important;
				background-color: transparent!important;
				background-image: url(/admin/assets/img/smile-regular.svg)!important;
				border: none;
			}
		}
		.meh {
			background-image: url(/admin/assets/img/meh-regular.svg);
			background-repeat: no-repeat;
			border: none;
			width: 29px;
			transition-duration: 0.2s, 0.2s;
			transition-timing-function: ease-in, ease-out;
			&:hover {
				opacity: 1!important;
				background-color: transparent!important;
				background-image: url(/admin/assets/img/meh-regular.svg)!important;
				border: none;
			}
		}
		.frown {
			background-image: url(/admin/assets/img/frown-regular.svg);
			background-repeat: no-repeat;
			border: none;
			width: 29px;
			transition-duration: 0.2s, 0.2s;
			transition-timing-function: ease-in, ease-out;
			&:hover {
				opacity: 1!important;
				background-color: transparent!important;
				background-image: url(/admin/assets/img/frown-regular.svg)!important;
				border: none;
			}
		}
	}

	.button-container {
		width: auto;
		float: right;
		@media screen and (max-width: 760px) {
			margin-right: 10px;
		}
		button {
			float: right;
		}
	}

	.check {
		@media screen and (max-width: 560px) {
			padding-top: 0px;
			min-height: 60px;
		}
	}
}
