body, html {
	background: #f8f9fa;
	//background-image: linear-gradient(to right, #fff 50% , #f8f9fa 50%);
}
.container {
	margin-top: 0px;
	padding-top: 10px;
	border-bottom: 20px solid #f8f9fa;
	position: relative;
	background-image: linear-gradient(to right, #fff 50%, #f8f9fa 50%);
	.progress-bar {
		height: 10px;
		width: 100%;
		background-color: #f8f9fa;
		position: absolute;
		top: 0;
		z-index: 1;
		.progress-bar-red {
			height: 10px;
			background-color: #e4002b;
		}
		.progress-bar-green {
			height: 10px;
			background-color: #01c694;
		}
	}
	.progress-bar-label {
		background-color: #fff;
		position: absolute;
		top: 8px;
		font-size: 11px;
		padding: 3px;
		z-index: 2;
		display: none;
		@media screen and (min-width: 560px) {
			display: block;
		}
	}
}
#footer {
	margin-top: 0px;
}

.project {
  max-width: 1024px;
  margin: 0 auto;
  background: url(/admin/assets/img/background/edit_back.png);
  background-repeat: repeat-y;
  background-position: right;
  @media screen and (max-width: 1023px) {
    background: none;
    background-color: #fff;
  }
  background-color: #fff;

  .project-cont {
    width: 100%;
    display: inline-block;
    .project-steps {
      float: right;
      width: 297px;
      height: 100%;
      text-align: center;
      margin: 0px;
			background: #f8f9fa;
			padding: 15px;
      &::-webkit-scrollbar {
          height: 5px;
      }
      &::-webkit-scrollbar-track {
          background: #f1f1f1;
      }
      &::-webkit-scrollbar-thumb {
          background: #888;
      }
      &::-webkit-scrollbar-thumb:hover {
          background: #555;
      }
      @media screen and (max-width: 1023px) {
        float: left;
        width: 100%;
        overflow: hidden;
        height: 100px;
        overflow-x: scroll;
      }
      ul {
        @media screen and (max-width: 1023px) {
          display: block;
          width: 2000px;
        }

        a {
          color: #333f48;
        }
        li {
          float: left;
          width: 100%;
          @media screen and (max-width: 1023px) {
            width: 280px;
            height: 100px;
          }
          .step-container {
            float: left;
            margin-left: 20px;
            @media screen and (max-width: 1023px) {
              margin-left: 8px;
            }
            .step-container-title {
              float: left;
              line-height: 25px;
              text-align: left;
              clear: both;
              font-weight: 700;
							color: #39434e;
            }
            .step-container-desc {
              float: left;
              text-align: left;
              clear: both;
              max-width: 220px;
              margin-bottom: 30px;
              font-size: 12px;
              color: #697684;
              @media screen and (max-width: 1023px) {
                margin-bottom: 0px;
                font-size: 10px;
              }
            }
          }
          .title-sel {
            font-weight: 700;
          }
					.step, .step-sel {
						float: left;
            width: 25px;
            height: 25px;
						circle {
							stroke-width: 1;
							stroke-miterlimit: 10;
							stroke: rgb(57, 67, 78);
						}
						text {
							text-anchor: middle;
							alignment-baseline: middle;
							font: normal 12px 'MuseoSans_300';
						}
					}
          .step {
						circle {
							fill: rgb(57, 67, 78);
						}
						text {
							fill: rgb(255, 255, 255);
						}
          }
          .step-sel {
						circle {
							fill: rgb(255, 255, 255);
						}
						text {
							fill: rgb(57, 67, 78);
						}
          }
          .step-disabled {
						background: rgba(255, 255, 255, 0.4);
            border: 2px solid #d8dbdf;
            color: #d8dbdf;
          }
        }
      }
    }
  }

	.client-form {
		.small-field {
			@media screen and (max-width: 560px) {
				float: left!important;
				margin-left: 10px!important;
				width: calc((100% - 40px) / 2)!important;
				clear: none;
			}
		}
		.small-field input {
			width: 140px;
			@media screen and (max-width: 560px) {
				width: 100%;
			}
		}
		@media screen and (min-width: 560px) {
			.small-field input + div {
				right: unset;
				left: 110px;
			}
		}
	}
}

.depth-container {
	max-width: 1024px;
	margin: 0 auto;
}
