.project-media {
  float: left;
  position: relative;
  width: 725px;
  padding: 0px 20px 30px;
  @media screen and (max-width: 760px) {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 10px;
  }

  .project-media-title {
    width: 100%;
		font-size: 18px;
	  font-weight: 700;
		margin-top: 20px;
    margin-bottom: 5px;
  }
	.project-media-subtitle {
    width: 100%;
		font-size: 13px;
  }

  .project-media-content {
    @media screen and (max-width: 600px) {
      margin: 0px;
      padding: 0px;
    }
    .label {
      width: 100%;
      clear: both;
      display: inline-block;
      font-size: 18px;
      font-weight: 700;
    }
		.delete-all {
			width: auto;
	    float: right;
	    margin-right: 20px;
	    color: #e4002b;
	    text-decoration: underline;
	    cursor: pointer;
	    font-weight: 700;
	    z-index: 2147483638;
	    position: absolute;
			margin-left: -webkit-calc(100% - 110px);
			margin-left: -moz-calc(100% - 110px);
			margin-left: calc(100% - 110px);
	    margin-top: 4px;
		}

    .dropzone{
      position: absolute!important;
      height: 100%;
      width: 100%;
      top: 0;
      z-index: 0;
      left: 0;
    }
    .dropzone-c {
      position: relative!important;
      height: 100%;
      width: 100%;
      top: 0;
      z-index: 0;
      left: 0;
    }

    .active-dropzone {
        z-index: 2;
    }

    .media-container {
      margin: 0;
      padding: 0;
      border: 0;
      width: 100%;
      min-height: 100%;
      position: relative;
      clear: both;
      z-index: 1;

      .media-container-swap {
        padding: 0px 0px 0px 80px;
        height: 40px;
        line-height: 40px;
        background-image: url(/admin/assets/img/icons/arrow2.svg);
        background-repeat: no-repeat;
        background-position: 20px center;
				margin-bottom: 0px;
        @media screen and (max-width: 760px) {
          height: auto;
          line-height: 20px;
          min-height: 40px;
        }
      }

      .item-container {
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
        min-height: 100%;
        position: relative;
        display: inline-block;
        min-height: 98px;
				padding: 0px;
				@media screen and (max-width: 560px) {
					border: none!important;
				}
				@media screen and (min-width: 560px) {
		      padding: 20px 0px 6px 0px;
		    }
        img {
        	pointer-events: none;
        }
        .custom-form {
					float: left;
					padding-left: 0px;
					width: 100%;
					clear: both;
					max-height: 45px;
			    overflow: hidden;
					.container-field {
						width: 335px;
						margin-right: 0px;
						label {
							width: 230px;
							height: 30px;
							line-height: 30px;
						}
						input {
							float: left;
							width: 100px;
						}
					}
					.button-container {
						float: left;
						width: auto;
						button {
							height: 30px;
							line-height: 30px!important;
							max-height: 30px;
							width: auto;
							padding: 0px 35px;
						}
						.btn svg {
							top: 3px;
							left: 5px;
						}
						.btn-error svg {
							top: 2px;
							left: 5px;
						}
					}
					.validation-error {
						font-size: 10px;
						margin-right: 10px;
					}
        }
      }

      .item {
        margin: 0;
        padding: 0;
        border: 0;
        min-height: 100%;
        position: relative;
        float: left;
        width:150px;
        height:90px;
        max-height:90px;
        //border: 1px solid #333f48;
        color: #fff;
        margin: 0px 14px 14px 0px;
        cursor: pointer;
        overflow: hidden;
        z-index: 1;
        border-radius: 3px;

        .item-overlay-hide{
            display: none!important;
        }
        .item-overlay {
            display: inline-block;
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
            height: 20px;
            z-index: 2147483647;
            div {
                float: left;
                background: #fff;
                border-radius: 8px;
                margin: 3px;
                z-index: 2147483647;
            }

            .item-overlay-text {
                padding-left:5px;
                padding-top:9px;
            }

            img {
                float: right;
                width: 15px;
            }
        }
      }

      .add-item {
        border: 1px solid #949da2;
        text-align: center;
        width: 150px;
        border-radius: 3px;
				margin-right: 0px;
				padding-top: 23px;
      }

      .add-item:hover {
        border: 1px solid #333f48;
        color: #333f48;
      }
    }

    .media-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(51, 63, 72, 0.7);
        top: 0;
        z-index: 4;
        left:0;

        .media-overlay-window {
            background-color: #fff;
            position: relative;
            float:none;
            margin-left: auto;
            margin-right: auto;
            margin-top:88px;
            width:400px;
            min-height: 250px;

            .upload-images {
                position: absolute;
                left:50%;
                top:50%;
                transform: translate(-50%, -50%);
                font-weight: bold;
            }

            .add-video {
                .add-video-title {
                    padding:15px;
                    float: left;
                    font-weight: bold;
                }
                .add-video-close {
                    padding-right:7px;
                    float: right;
                    font-weight: bold;
                    cursor: pointer;
                    font-size: 25px;
                }
                .add-video-cont {
                    width: -webkit-calc(100% - 40px);
                    width:    -moz-calc(100% - 40px);
                    width:         calc(100% - 40px);
                    padding:0px;
                    margin:0 20px;
                    display: inline-block;

                    .add-video-cont-text {
                        height: 69px;
                        line-height: 69px;
                        float:left;
                    }
                    .add-video-cont-empty {
                        float:left;
                        width: 120px;
                        line-height: 69px;
                    }
                    .filters-range {
                        width: 120px;
                        margin:0;
                        padding:0;
                        margin-left:5px;
                        div:first-child{
                            padding:0;
                            margin:0;
                        }
                    }
                    .add-video-cont-plus {
                        float:right;
                        width: 33px;
                        height: 33px;
                        margin-top: 18px;
                    }
                }

                .add-video-button {
                    width: -webkit-calc(100% - 40px);
                    width:    -moz-calc(100% - 40px);
                    width:         calc(100% - 40px);
                    padding:0px;
                    margin:0 20px;
                }

                input[type="button"] {
                    float:right;
                    //margin-right: 30px;
                }
            }
        }
    }

  }
}
