.custom-depth-form {
  display: inline-block!important;
  max-width: 720px;
	margin-top: 20px!important;
}
@media screen and (max-width: 560px) {
	.custom-depth-form {
		width: 100%;
	}
	.custom-depth-form .button-container {
		margin-right: 10px;
	}
	.custom-depth-form .btn-white {
		margin-left: 10px!important;
	}
}

.custom-depth-form .custom-depth-container {
	width: -webkit-calc(100% - 20px)!important;
	width: -moz-calc(100% - 20px)!important;
	width: calc(100% - 20px)!important;
  display: inline-block;
  margin: 0px;
}
@media screen and (max-width: 560px) {
	.custom-depth-form .custom-depth-container {
		max-height: 513px;
		overflow: hidden;
		overflow-x: scroll;
	}
	.custom-depth-form .custom-depth-container .float-container {
		padding-left: 3px;
		display: inline-block;
		width: 635px;
		overflow-x: scroll;
	}
}
.custom-depth-form .custom-depth-container .custom-radio-options {
  margin-right: 30px;
  width: 150px;
  float: left;
  margin-bottom: 20px;
}
.custom-depth-form .custom-depth-container .custom-radio-options:last-of-type {
	margin-right: 0px;
}
.custom-depth-form .custom-depth-container .custom-radio-options input[type="radio"] + label {
  height: auto;
  width: 150px;
}
.custom-depth-form .custom-depth-container .custom-radio-options input[type="radio"] + label > svg {
	margin-left: 10px;
	position: absolute;
	top: 87px;
	z-index: 1;
}
.custom-depth-form .custom-depth-container .custom-radio-options .custom-radio-options-wrapper {
  position: relative;
  width: 150px;
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: ease-in, ease-out;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  height: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.custom-depth-form .custom-depth-container .custom-radio-options .title {
  width: 100%;
  clear: both;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(148, 157, 162);
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
}
.custom-depth-form .custom-radio-options-depth, .custom-depth-form.custom-radio-options-disabled {
  position: relative;
  width: 100%;
  float: right;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0s;
  transition-property: background-color, border;
  height: 309px;
}
.custom-depth-form .custom-depth-container .custom-radio-options .custom-radio-options-wrapper:hover .custom-radio-options-depth {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(248, 249, 250);
  color: rgb(51, 63, 72);
}
.custom-depth-form .custom-depth-container .custom-radio-options .custom-radio-options-depth, .custom-depth-form .custom-depth-container .custom-radio-options .custom-radio-options-disabled {
  position: relative;
  width: 100%;
  float: right;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0s;
  transition-property: background-color, border;
  height: 309px;
}
.custom-depth-form .cont-left {
  display: inline-block;
  float: left;
  width: 100%;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-top: 15px;
  clear: both;
}
.custom-depth-form .custom-depth-container .custom-radio-options .custom-radio-options-depth .cont-left, .custom-depth-form .custom-depth-container .custom-radio-options .custom-radio-options-disabled .cont-left {
  display: inline-block;
  float: left;
  width: 100%;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-top: 15px;
  clear: both;
}
.custom-depth-form .cont-left img {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.custom-depth-form .custom-depth-container .custom-radio-options .custom-radio-options-depth .cont-left img, .custom-depth-form .custom-depth-container .custom-radio-options .custom-radio-options-disabled .cont-left img {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.custom-depth-form .cont-right {
  display: inline-block;
  float: left;
  max-width: 151px;
  margin-top: 15px;
  margin-left: 5px;
  font-weight: 500;
  font-size: 12px;
}
.custom-depth-form .custom-depth-container .custom-radio-options .custom-radio-options-depth .cont-right, .custom-depth-form .custom-depth-container .custom-radio-options .custom-radio-options-disabled .cont-right {
  display: inline-block;
  float: left;
  max-width: 151px;
  margin-top: 15px;
  margin-left: 5px;
  font-weight: 500;
  font-size: 12px;
}
.custom-depth-form .cont-right ul li {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: transparent;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  white-space: normal;
  float: left;
}
.custom-depth-form .cont-right ul li:first-of-type {
  margin-top: 5px;
}
.custom-depth-form .custom-depth-container .custom-radio-options .custom-radio-options-depth .cont-right ul li, .custom-depth-form .custom-depth-container .custom-radio-options .custom-radio-options-disabled .cont-right ul li {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: transparent;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  white-space: normal;
  float: left;
}
.custom-depth-form .cont-right ul li .cont-right-bullet {
  display: table-cell;
  float: left;
  color: rgb(228, 0, 43);
  width: 15px;
  font-size: 18px;
  line-height: 15px;
}
.custom-depth-form .custom-depth-container .custom-radio-options .custom-radio-options-depth .cont-right ul li .cont-right-bullet, .custom-depth-form .custom-depth-container .custom-radio-options .custom-radio-options-disabled .cont-right ul li .cont-right-bullet {
  display: table-cell;
  float: left;
  color: rgb(228, 0, 43);
  width: 15px;
  font-size: 18px;
  line-height: 15px;
}
.client-form .container-field svg path {
  fill: rgb(216, 216, 223);
}
.custom-depth-form .cont-right ul li .cont-right-text {
  display: table-cell;
  float: left;
  width: calc(100% - 15px);
  line-height: 16px;
}
.custom-depth-form .custom-depth-container .custom-radio-options .custom-radio-options-depth .cont-right ul li .cont-right-text, .custom-depth-form .custom-depth-container .custom-radio-options .custom-radio-options-disabled .cont-right ul li .cont-right-text {
  display: table-cell;
  float: left;
  width: calc(100% - 15px);
  line-height: 16px;
}
.custom-depth-form .selected .custom-radio-options-depth {
	background: rgb(248, 249, 250);
}

.custom-radio-pricing .floating {
	width: 150px;
	height: 120px;
	float: left;
	background: #fff;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .01), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
	border-radius: 2px;
	margin-bottom: 20px;
}
.custom-radio-pricing .floating:first-child {
	margin-right: 30px;
}
@media screen and (max-width: 560px) {
	.custom-radio-pricing .floating:first-child {
		margin-right: 10px;
	}
}
.custom-radio-pricing .floating label {
	padding: 0px!important;
}
.custom-radio-pricing .floating label div:first-child {
	display: none;
}
.custom-radio-pricing .floating .pricing-container {
	width: 100%;
	padding: 0px;
	height: 120px;
}
.custom-radio-pricing .floating .pricing-container div {
	display: block;
	float: left;
	width: 100%;
}
.custom-radio-pricing .floating .pricing-container .discount {
	display: block;
	float: right;
	color: #fff;
	background: #697684;
	border-radius: 5px;
	width: auto;
	font-size: 10px;
	width: 30px;
	height: 21px;
	line-height: 21px;
	margin: 5px;
}
.custom-radio-pricing .floating .pricing-container .pricing-container-duration, .pricing-container-price {
	font-size: 16px;
	font-family: 'MuseoSans_700';
	font-weight: 700;
}
.custom-radio-pricing .floating .pricing-container .pricing-container-price {
	color: #e4002b;
}
.custom-radio-pricing .floating .pricing-container .pricing-container-price span {
	color: #333f48;
	font-family: 'MuseoSans_300';
	font-weight: 300;
	text-decoration: line-through;
	font-size: 12px;
}
.custom-radio-pricing .floating .pricing-container svg circle:last-child {
	fill: #fff;
}

.custom-radio-pricing .floating:hover {
	background: #f0f2f5;
}
.custom-radio-pricing .selected {
	background: #f0f2f5;
}
.custom-radio-pricing .selected .pricing-container svg circle:last-child {
	fill: rgb(0, 132, 255);
}
.custom-radio-pricing .floating .pricing-container .pay {
	display: block;
	margin: 20px 0px;
}
.custom-radio-pricing .floating .pricing-container .pay img {
	height: 24px;
}
