/* font Museo_Sans */
@font-face {
  font-family: 'MuseoSans_100';
  src: url("/admin/assets/fonts/MuseoSans_100.otf"), url("/admin/assets/fonts/MuseoSans_100.eot"), url("/admin/assets/fonts/MuseoSans_100.ttf"), url("/admin/assets/fonts/MuseoSans_100.woff");
}
@font-face {
  font-family: 'MuseoSans_300';
  src: url("/admin/assets/fonts/MuseoSans_300.otf"), url("/admin/assets/fonts/MuseoSans_300.eot"), url("/admin/assets/fonts/MuseoSans_300.ttf"), url("/admin/assets/fonts/MuseoSans_300.woff");
}
@font-face {
  font-family: 'MuseoSans_500';
  src: url("/admin/assets/fonts/MuseoSans_500.otf"), url("/admin/assets/fonts/MuseoSans_500.eot"), url("/admin/assets/fonts/MuseoSans_500.ttf"), url("/admin/assets/fonts/MuseoSans_500.woff");
}
@font-face {
  font-family: 'MuseoSans_700';
  src: url("/admin/assets/fonts/MuseoSans_700.otf"), url("/admin/assets/fonts/MuseoSans_700.eot"), url("/admin/assets/fonts/MuseoSans_700.ttf"), url("/admin/assets/fonts/MuseoSans_700.woff");
}
@font-face {
  font-family: 'MuseoSans_900';
  src: url("/admin/assets/fonts/MuseoSans_900.otf"), url("/admin/assets/fonts/MuseoSans_700.eot"), url("/admin/assets/fonts/MuseoSans_700.ttf"), url("/admin/assets/fonts/MuseoSans_700.woff");
}
@font-face {
  font-family: 'athome-font';
  src: url('/admin/assets/fonts/athome-font.eot?28wdvh');
  src: url('/admin/assets/fonts/athome-font.eot?28wdvh#iefix') format('embedded-opentype'), url('/admin/assets/fonts/athome-font.woff2?28wdvh') format('woff2'), url('/admin/assets/fonts/athome-font.ttf?28wdvh') format('truetype'), url('/admin/assets/fonts/athome-font.woff?28wdvh') format('woff'), url('/admin/assets/fonts/athome-font.svg?28wdvh#athome-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  outline: none;
  font-family: 'MuseoSans_300' !important;
}
html, body {
  margin: 0;
  height: 100%;
  background-color: #f8f9fa;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  -webkit-overflow-scrolling: touch;
  font-family: 'MuseoSans_300', helvetica, arial;
  color: #333f48;
	padding-top: 60px;
}
@media screen and (min-width: 600px) {
	body {
		padding-top: 0px;
	}
}
label {
  text-align: left;
}
a {
	color: #333f48;
	text-decoration: underline;
}
#app {
  position: relative;
  min-height: calc(100% - 54px);
  width: 100%;
}
@media (max-width: 1023px) {
  #app {
    position: relative;
    min-height: calc(100% - 317px);
    width: 100%;
    overflow: auto;
  }
  #app > div, #app > div .admin .admin.static_header {
    height: 100%;
    overflow: auto;
  }
}
/* a bit of reset */
ul, ol, dl {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Museo-Sans-700', sans-serif;
}
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time {
  font-family: 'MuseoSans_300', helvetica, arial;
}
a, button {
  outline: none;
}
button {
  text-decoration: none;
}
strong, b {
  font-family: 'MuseoSans_500';
}
em {
  font-style: italic;
}
.sw {
  margin: 0 auto;
  max-width: 1140px;
}
@media (min-width: 950px) {
  /* Desktop */
  .sw {
    margin: 0 2rem;
  }
}
@media screen and (min-width: 1180px) {
  /* Desktop */
  .sw {
    margin: 0 auto;
  }
}
/*icons set */
i {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 50px;
  color: #96a1b0;
  position: static;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  width: 100%;
}
.box-shadow {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .01), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border-radius: 2px;
}
.box-shadow-top {
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, .14);
}
.btn {
  float: left;
  background: #323f48;
  margin: 0px 0px 0px 0px;
  padding: 0px 10px;
  height: 40px;
  font-size: 14px !important;
  color: #fff !important;
  cursor: pointer;
  line-height: 40px;
  border: none;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: ease-in, ease-out;
  outline: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  font-family: 'MuseoSans_500' !important;
}
.btn:hover {
  background-color: #161e24;
  border-color: #161e24;
}
.custom-radio-container {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.btn-link-black {
  font-size: 12px !important;
  color: #697684 !important;
  background: transparent;
  font-weight: 700;
}
.btn-link-black:hover {
  background: transparent !important;
  border-color: none;
  color: #323f48 !important;
}
.btn-link-red {
  font-size: 12px !important;
  color: #e4002b !important;
  background: transparent;
  font-weight: 700;
}
.btn-link-red:hover {
  background: transparent !important;
  border-color: none;
  color: #a30000 !important;
}
.btn-link-red img {
  float: left;
}
.btn-link-red div {
  text-decoration: underline;
  float: right !important;
  clear: none !important;
  line-height: 20px;
  height: 20px;
  margin: 0px !important;
}
.btn-succeed {
  background-color: #00c694 !important;
  border: 1px solid #00c694 !important;
  color: #fff !important;
}
.btn-succeed-small {
  background-color: #00c694 !important;
  border: 1px solid #00c694 !important;
  color: #fff !important;
  line-height: 30px !important;
}
.btn-white {
  background-color: #fff !important;
  border: 1px solid #323f48 !important;
  color: #323f48 !important;
}
.btn-white:hover {
  background-color: #fff !important;
  border: 1px solid #323f48 !important;
  color: #323f48 !important;
}
.btn-error {
  background-color: #e4002b !important;
  border: 1px solid #e4002b !important;
  color: #fff !important;
}
.btn-error-small {
  background-color: #e4002b !important;
  border: 1px solid #e4002b !important;
  color: #fff !important;
  line-height: 30px !important;
}
.btn-gray-small {
  background: #f1f1f1;
  color: #323f48 !important;
  line-height: 30px !important;
  height: 30px;
}
.btn-gray-small:hover {
  background: #f1f1f1;
}
.btn-white-small {
  background-color: #fff !important;
  border: 1px solid #323f48 !important;
  color: #323f48 !important;
  line-height: 30px !important;
  height: 30px;
}
.btn-white-small:hover {
  background-color: #fff !important;
  border: 1px solid #323f48 !important;
  color: #323f48 !important;
}
.btn-red-small {
  background: #e4002b;
  line-height: 30px !important;
  height: 30px;
}
.btn-red-small:hover {
  background-color: #a30000;
  border-color: #a30000;
}
.btn-gray {
  background: #f1f1f1;
  color: #323f48 !important;
}
.btn-gray:hover {
  background: #f1f1f1;
}
.btn-red {
  background: #e4002b;
}
.btn-red:hover {
  background-color: #a30000;
  border-color: #a30000;
}
.spinner {
  background-image: url('/admin/assets/img/default.svg') !important;
  background-repeat: no-repeat !important;
  background-position: 0px 0px !important;
  background-size: 40px !important;
}
.spinner-small {
  background-image: none!important;
}
.loader {
  opacity: 0.5;
}
.validation-error {
  color: #e4002b;
  font-size: 10px;
  display: block;
  clear: both;
  min-height: 15px;
  text-align: left;
}
#footer {
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 20px;
}
#footer .legal {
  padding: 1rem 0;
  font-size: 12px;
  line-height: 1.8rem;
  color: #6a7785;
  text-align: center;
  background: #fff;
  width: 100%;
  border-top: 1px solid #e3e3e3;
}
@media screen and (max-width: 600px) {
  #footer .legal {
    padding: 1rem 15px;
  }
}
.noselect, img, label {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.hide-actions {
  width: 114px;
  height: 85px;
  overflow: hidden;
  border-radius: 3px;
}
.hide-actions .item-overlay img {
  display: none;
}
@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
.overlay-back {
  overflow: hidden;
  z-index: 2147483647;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(51, 63, 72, .4);
}
.overlay-back .overlay-cont {
  display: block;
  position: relative;
  float: none;
  min-height: 400px;
  background-color: #fff;
  border-radius: 2px;
  margin: 0 auto;
  z-index: 2147483647;
  border-radius: 6px;
	overflow: hidden;
	width: 100%;
}
@media screen and (min-width: 560px) {
	.overlay-back .overlay-cont {
		width: 450px;
	}
}
.overlay-back .overlay-cont .overlay-close {
  width: 25px;
  cursor: pointer;
  font-size: 25px;
  height: 40px;
  line-height: 40px;
  float: right;
}
.overlay-back .overlay-cont .overlay-close::after {
  content: "\D7";
}
.overlay-back .overlay-cont .overlay-title {
  float: left;
  padding: 15px;
  font-weight: 700;
}
.overlay-back .overlay-cont .overlay-data {
  width: 100%;
  float: left;
  padding: 5px 0px 0px;
  max-height: 335px;
}
.overlay-back .overlay-cont .overlay-data .overlay-data-head {
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  width: calc(100% - 40px);
  float: left;
  line-height: 40px;
  font-size: 12px;
  padding: 0px 10px;
  margin-left: 20px;
  font-weight: 700;
  background: #6a7785;
  color: #fff;
  border-radius: 4px 4px 0px 0px;
}
.overlay-back .overlay-cont .overlay-data .overlay-data-rows {
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 285px;
}
.overlay-back .overlay-cont .overlay-data .overlay-data-rows::-webkit-scrollbar {
  width: 5px;
}
.overlay-back .overlay-cont .overlay-data .overlay-data-rows::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.overlay-back .overlay-cont .overlay-data .overlay-data-rows::-webkit-scrollbar-thumb {
  background: #888;
}
.overlay-back .overlay-cont .overlay-data .overlay-data-rows::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.overlay-back .overlay-cont .overlay-data .overlay-data-rows div {
  max-height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.link-red {
  text-decoration: underline;
  cursor: pointer;
  color: #e4002b;
}
.this-sticky {
  display: inline-block;
  top: 0;
  background-color: #f8f9fa!important;
  margin: 0px !important;
  width: 100% !important;
  z-index: 2147483647;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease-in, ease-out;
  margin-bottom: 20px;
}
.this-sticky-projects {
  margin-bottom: 0px !important;
  border-radius: 4px;
}
.this-sticky-projects .this-sticky-cont {
  margin-bottom: 0px !important;
  width: auto;
  float: left;
  margin-bottom: 20px;
  padding: 15px 0px;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}
.this-sticky-projects .this-sticky-cont .swap-container {
  display: inline-block;
  float: right;
}
.this-sticky-projects .this-sticky-cont .swap-container .sticky-sentence {
  float: right;
  height: 30px;
  line-height: 15px;
  font-size: 11px;
  max-width: 200px;
}
.this-sticky-projects .this-sticky-cont .swap-container .swap-icon {
  background-image: url(/admin/assets/img/icons/arrow1.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
}
.this-sticky-projects .this-sticky-cont .swap-container .swap-icon-white {
  background-image: url(/admin/assets/img/icons/arrow_white.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
}
.this-sticky-projects .this-sticky-cont .swap-container button {
	position: relative;
}
.this-sticky-projects .this-sticky-cont .swap-container svg {
	background: none;
	position: absolute;
	left: 8px;
	top: 3px;
}
.this-sticky-projects .this-sticky-cont .swap-container .btn-succeed-small {
	padding: 0px 15px 0px 35px;
}
.spin {
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@media screen and (max-width: 1023px) {
  .this-sticky-projects .this-sticky-cont {
    max-width: 100%;
    margin-left: 0px;
  }
  .this-sticky-projects .this-sticky-cont .swap-container {
    display: inline-block;
    float: right;
    margin-top: 15px;
  }
}
@media screen and (max-width: 600px) {
  .this-sticky-projects .this-sticky-cont {
    max-width: 100%;
    margin-left: 0px;
    padding: 5px;
  }
  .this-sticky-projects .this-sticky-cont .check-filters {
    min-width: 100px;
  }
  .this-sticky-projects .this-sticky-cont .sticky-sentence {
    float: left;
    max-width: 177px;
  }
  .this-sticky-projects .this-sticky-cont .check-filters input[type="checkbox"] + label, .this-sticky-projects .this-sticky-cont .form-container input[type='radio'] + label {
    width: 100%;
    margin-bottom: 10px;
  }
}
.this-sticky-preview .this-sticky-cont {
  padding: 15px;
  display: inline-block;
  width: 100%;
  max-width: 964px;
  margin-left: calc((100% - 964px)/2);
}
@media screen and (max-width: 964px) {
  .this-sticky-preview .this-sticky-cont {
    max-width: 100%;
    margin-left: 0px;
  }
}
@media screen and (max-width: 600px) {
  .this-sticky-preview .this-sticky-cont {
    padding: 0px 10px 10px;
  }
  .this-sticky-preview .this-sticky-cont .btn {
    height: 30px !important;
    line-height: 30px !important;
    margin: 0px !important;
    margin-top: 10px !important;
    margin-right: 10px !important;
  }
}
.react-datepicker__input-container input[type="text"] {
  background-image: url(/admin/assets/img/icons/baseline-date_range-24px.svg);
  background-position: -webkit-calc(100% - 5px) center;
  background-position: -moz-calc(100% - 5px) center;
  background-position: calc(100% - 5px) center;
  background-repeat: no-repeat;
  background-size: 20px;
}
.project-steps-info {
  width: 100%;
  max-width: 250px;
  margin-left: 8px;
  text-align: left;
  height: auto;
}
.project-steps-info .project-steps-info-title {
  font-weight: 700;
  clear: both;
  width: 100%;
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 15px;
}
.project-steps-info .project-steps-info-content {
  border-radius: 2px;
  border: 1px solid #d8dbdf;
  background-color: #fff;
  width: 100%;
  padding: 15px;
}
.project-steps-info .project-steps-info-content .project-steps-info-content-text {
  width: 100%;
}
.project-steps-info .project-steps-info-content .project-steps-info-content-text div {
  clear: both;
}
.project-steps-info .project-steps-info-content .project-steps-info-content-contacts {
  width: 100%;
  border-top: 1px solid #d8dbdf;
  margin: 15px 0px 0px;
  padding: 15px 0px 0px;
}
.project-steps-info .project-steps-info-content .project-steps-info-content-contacts div {
  padding-left: 30px;
  line-height: 30px;
}
.project-steps-info .project-steps-info-content .project-steps-info-content-contacts div:first-child {
  background-image: url(/admin/assets/img/icons/baseline-phone-24px.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0px center;
}
.project-steps-info .project-steps-info-content .project-steps-info-content-contacts div:last-child {
  background-image: url(/admin/assets/img/icons/envelope-regular.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0px center;
}
/* pagination */
.pager {
  display: inline-block;
  margin: 0px auto;
  padding: 0;
  text-align: center;
  color: #333f48;
  float: left;
  max-height: 30px;
  height: 30px;
  width: 100%;
}
.pager .pager-container {
  margin: 0 auto;
  height: 32px;
  position: relative;
  width: 100%;
  float: none;
  display: table;
}
.pager .pager-container ul {
  display: inline !important;
}
.pager .pager-container ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 !important;
  padding: 0;
  text-align: center;
  width: 30px !important;
  min-width: 30px;
  min-height: 30px;
  height: 30px !important;
  line-height: 30px;
  float: left;
  border-top: 1px solid #d8dbdf;
  border-bottom: 1px solid #d8dbdf;
  border-left: 1px solid #d8dbdf;
  cursor: pointer;
  background: transparent !important;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: ease-in, ease-out;
}
.pager .pager-container ul li:first-of-type {
  border-radius: 4px 0px 0px 4px;
  border-right: none;
  font-size: 20px;
}
.pager .pager-container ul li:last-of-type {
  border-right: 1px solid #d8dbdf;
  border-radius: 0px 4px 4px 0px;
  font-size: 20px;
}
.pager .pager-container ul li:hover {
  background-color: #333f48 !important;
  color: #fff;
}
.pager .pager-container ul .active {
  background-color: #333f48 !important;
  color: #fff;
  border-top: 1px solid #333f48;
  border-bottom: 1px solid #333f48;
  border-left: 1px solid #333f48;
}
.pager .pager-container ul .arrows {
  font-size: 20px;
  line-height: 27px;
}
.pager .pager-container .opacity a, .pager .pager-container .opacity {
  cursor: default !important;
  opacity: 0.5;
}
.pager .pager-container .opacity a:hover, .pager .pager-container .opacity:hover {
  background-color: #fff !important;
  color: #333f48 !important;
}
.pager .pager-container .pager-count {
  float: right;
  line-height: 30px;
  font-size: 13px;
  font-weight: 700;
}
.tinyScrollbar::-webkit-scrollbar {
  width: 5px;
}
.tinyScrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.tinyScrollbar::-webkit-scrollbar-thumb {
  background: #888;
}
.tinyScrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.freccia-stroke-sel {
  width: 8px;
  transform: rotate(270deg) !important;
}
.freccia-stroke {
  width: 8px;
  transform: rotate(90deg) !important;
}
input {
  font-family: 'MuseoSans_300', helvetica, arial;
}
input {
    border: 1px solid #d8d8df;
    padding: 15px 8px;
    border-radius: 2px;
    color: #333f48;
    background-color: #fff;
    line-height: 13px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    transition: border .5s ease;
}
@media screen and (min-width: 560px) {
	input {
			padding: 7px 8px;
			height: 34px;
			min-height: 34px;
	}
}
.clear {
  clear: both;
  width: 100%;
}

.client-form label {
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-family: 'MuseoSans_500', helvetica, arial !important;
}

.client-form .step-title, .client-form .step-separator {
	padding: 0px 10px;
}
.client-form .step-separator {
	height: 60px;
	line-height: 60px;
	width: 100%,auto;clear: both;
}
.client-form .step-title div:first-child, .client-form .step-separator {
	font-size: 18px;
	font-family: 'MuseoSans_700';
	font-weight: 700;
	margin-bottom: 5px;
}
@media screen and (min-width: 600px) {
	.client-form .step-title, .client-form .step-separator {
		padding: 0px;
	}
}
.client-form .field-picker-container-error input {
	border: 1px solid rgb(228, 0, 43)!important;
}

.description {
	width: 100%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #f8f9fa;
	color: #697684;
	border-left: 2px solid #697684;
	border-radius: 2px;
	padding: 15px;
	font-size: 13px;
}

.option-override svg circle:first-child {
	fill: rgb(0, 132, 255)!important;
	stroke: rgb(0, 132, 255)!important;
}

.option-override svg circle:last-child {
	fill: #fff!important;
}

.custom-radio-container, .custom-energy {
	text-align: center;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
	clear: both;
}
.custom-radio-container .field-label, .custom-energy .field-label {
	float: left;
	width: 140px;
	min-width: 200px;
	max-width: 140px;
	margin-right: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
@media screen and (min-width: 560px) {
	.custom-radio-container .field-label, .custom-energy .field-label {
		width: auto;
		min-width: 120px;
		max-width: unset;
		margin-right: unset;
		white-space: unset;
		text-overflow: unset;
	}
}
.custom-radio-container .float-label, .custom-energy .float-label {
	float: left;
	text-align: left;
	font-size: 13px;
	width:100%;
	display: block;
}
.custom-radio-container .float-container, .custom-energy .float-container {
	float: left;
	width: auto;
}
.custom-radio-container .first {
	border-radius: 2px 0px 0px 2px;
  border: 1px solid #d8d8df;
  width: auto;
}
.custom-radio-container .central {
	border-radius: 0;
  border-left: none !important;
  border-right: 1px solid #d8d8df;
  border-top: 1px solid #d8d8df;
  border-bottom: 1px solid #d8d8df;
  width: auto;
}
.custom-radio-container .last {
	border: 1px solid #d8d8df;
  border-left: none !important;
  border-radius: 0px 2px 2px 0px;
  width: auto;
}
.client-form .floating label {
	cursor: pointer;
	text-align: center;
	height: 48px!important;
	line-height: 48px;
	padding: 0px!important;
}
.custom-radio-container .float-container label div, .custom-energy .float-container label div {
	height: 46px!important;
	line-height: 46px!important;
	text-align: center;
	width: 100%!important;
	font-size: 12px;
	padding: 0px 15px!important;
}
.custom-radio-container .floating:hover {
	background: #d8d8df!important;
	border-color: #d8d8df;
	color:#333f48;
}
.custom-radio-container .selected-radio {
		background-color: #949da2!important;
		border-color: #949da2!important;
		color:#fff;
}
.custom-radio-container .selected-radio:hover {
	background-color: #949da2!important;
	border-color: #949da2!important;
	color:#fff;
}
.client-form .floating {
	float: left;
	cursor: pointer;
	height: 48px;
	-moz-transition:		background-color 0.3s ease-in-out;
	-o-transition:			background-color 0.3s ease-in-out;
	-webkit-transition: background-color 0.3s ease-in-out;
	transition:				 background-color 0.3s ease-in-out;
	background: #f0f2f5;
}
@media screen and (min-width: 560px) {
	.client-form .floating {
		height: 34px;
	}
	.client-form .floating label {
		height: 34px!important;
		line-height: 34px;
	}
	.custom-radio-container .float-container label div, .custom-energy .float-container label div {
		padding: 0px 15px!important;
		height: 32px!important;
		line-height: 32px!important;
		width: 100%!important;
	}
}
.custom-energy .floating {
	background: #fff!important;
}

/* energy start */
.custom-energy .a4, .custom-energy .aplus {
	border-radius: 2px 0px 0px 2px;
	border-top: 1px solid #d8d8df;
	border-left: 1px solid #d8d8df;
	border-right: 1px solid #d8d8df;
	width: auto;
	background: #fff;
}
.custom-energy .a3,
.custom-energy .a2,
.custom-energy .a1,
.custom-energy .a,
.custom-energy .b,
.custom-energy .c,
.custom-energy .d,
.custom-energy .e,
.custom-energy .f {
	border-radius: 0;
	border-left: none;
	border-right: 1px solid #d8d8df;
	border-top: 1px solid #d8d8df;
	width: auto;
	background: #fff;
}
.custom-energy .g {
	border-top: 1px solid #d8d8df;
	border-right: 1px solid #d8d8df;
	border-left: none !important;
	border-radius: 0px 2px 2px 0px;
	width: auto;
	background: #fff;
}
.custom-energy .a4, .custom-energy .aplus {
	border-bottom: 4px solid #336601;
}
.custom-energy .aplus-sel, .custom-energy .a4-sel, .custom-energy .a4:hover, .custom-energy .aplus:hover {
	border-bottom: 4px solid #336601!important;
	background-color: rgba(54, 102, 1, .5)!important;
}
.custom-energy .a3 {
	border-bottom: 4px solid #006600;
}
.custom-energy .a3-sel, .custom-energy .a3:hover {
	border-bottom: 4px solid #006600!important;
	background-color: rgba(0, 102, 0, .5)!important;
}
.custom-energy .a2 {
	border-bottom: 4px solid #009900;
}
.custom-energy .a2-sel, .custom-energy .a2:hover {
	border-bottom: 4px solid #009900!important;
	background-color: rgba(0, 153, 0, .5)!important;
}
.custom-energy .a1 {
	border-bottom: 4px solid #01cc00;
}
.custom-energy .a1-sel, .custom-energy .a1:hover {
	border-bottom: 4px solid #01cc00!important;
	background-color: rgba(1, 204, 0, .5)!important;
}
.custom-energy .a {
	border-bottom: 4px solid #336601;
}
.custom-energy .a-sel, .custom-energy .a:hover {
	border-bottom: 4px solid #336601!important;
	background-color: rgba(51, 102, 1, .5)!important;
}
.custom-energy .b {
	border-bottom: 4px solid #98cb00;
}
.custom-energy .b-sel, .custom-energy .b:hover {
	border-bottom: 4px solid #98cb00!important;
	background-color: rgba(152, 203, 0, .5)!important;
}
.custom-energy .c {
	border-bottom: 4px solid #ffff00;
}
.custom-energy .c-sel, .custom-energy .c:hover {
	border-bottom: 4px solid #ffff00!important;
	background-color: rgba(255, 255, 0, .5)!important;
}
.custom-energy .d {
	border-bottom: 4px solid #ffc000;
}
.custom-energy .d-sel, .custom-energy .d:hover {
	border-bottom: 4px solid #ffc000!important;
	background-color: rgba(255, 192, 0, .5)!important;
}
.custom-energy .e {
	border-bottom: 4px solid #e46c0b;
}
.custom-energy .e-sel, .custom-energy .e:hover {
	border-bottom: 4px solid #e46c0b!important;
	background-color: rgba(228, 108, 11, .5)!important;
}
.custom-energy .f {
	border-bottom: 4px solid #c0504e;
}
.custom-energy .f-sel, .custom-energy .f:hover {
	border-bottom: 4px solid #c0504e!important;
	background-color: rgba(192, 80, 78, .5)!important;
}
.custom-energy .g {
	border-bottom: 4px solid #fe0000;
}
.custom-energy .g-sel, .custom-energy .g:hover {
	border-bottom: 4px solid #fe0000!important;
	background-color: rgba(254, 0, 0, .5)!important;
}

@media screen and (max-width: 560px) {
	.resize-mobile .floating {
		border-left: 1px solid #d8d8df!important;
		margin-right: 8px!important;
		margin-bottom: 8px!important;
		border-radius: 2px!important;
	}
}

.client-form .plus-minus svg circle {
	fill: #fff;
	stroke: rgb(50, 63, 72);
	strokeWidth: 1px;
}
.client-form .plus-minus svg rect {
	fill: rgb(50, 63, 72)!important;
}

.client-form .container-field-right {
	/*float: right!important;
	margin-left: 0px!important;*/
}
@media screen and (min-width: 560px) {
	.client-form .container-field {
		width: 290px!important;
	}
	.client-form .container-field-right {
		float: right!important;
		clear: none!important;
	}
}
@media screen and (min-width: 1040px) {
	.client-form .container-field-right {
		margin-right: 0px!important;
	}
}

.client-form .all-width {
	width: 100%!important;
}

.client-form .tabTextArea {
	width: 100%!important;
}
