.projects {
	position: relative;
  max-width: 1024px;
  margin: 0 auto;
  font-size: 14px;

  .project-steps-info {
    width: 493px;
    margin: 0 auto;
    max-width: unset;
    @media screen and (max-width: 560px) {
      width: 100%;
    }

    .project-steps-info-content {
      display: inline-block;
      .project-steps-info-content-text {
        float: left;
        width: -webkit-calc(100% - 150px);
        width: -moz-calc(100% - 150px);
        width: calc(100% - 150px);
        line-height: 21px;
        font-weight: 500;
        @media screen and (max-width: 560px) {
          width: 100%;
        }
      }
      .project-steps-info-content-contacts {
        float: left;
        width: 150px;
        margin: 0px;
        border-top: none;
        padding: 0px 0px 0px 20px;
        border-left: 1px solid rgb(216, 219, 223);
        @media screen and (max-width: 560px) {
          width: 100%;
          border-top: 1px solid rgb(216, 219, 223);
          margin: 15px 0px 0px;
          padding: 15px 0px 0px;
          border-left: 0px;
        }
      }
    }
  }
}

.main-title {
	font-size: 18px;
	font-family: 'MuseoSans_700';
	font-weight: 700;
	margin-bottom: 20px;
	display: none;
	@media screen and (min-width: 560px) {
		margin: 0px 10px 20px;
		display: block;
	}
	@media screen and (min-width: 1025px) {
		margin: 0px 0px 20px;
	}
}

.sub-nav {
	width: 100%;
	padding-left: 15px;
	background-color: #fff;
	height: 70px;
	@media screen and (min-width: 560px) {
		width: calc(100% - 20px);
		margin: 0px 10px;
	}
	@media screen and (min-width: 1025px) {
		margin: 0px;
		width: 100%;
	}
	.sub-nav-requests,
	.sub-nav-listings {
		float: left;
		text-align: center;
		font-weight: 700;
		line-height: 70px;
		display: none;
	}
	.sub-nav-sel {
		display: block;
	}
	@media screen and (min-width: 560px) {
		background-color: unset;
		border-bottom: 1px solid #e4e6eb;
		height: 57px;
		margin-bottom: 50px;
		padding-left: 0px;
		.sub-nav-requests,
		.sub-nav-listings {
			float: left;
			min-width: 150px;
			text-align: center;
			font-weight: 700;
			line-height: 55px;
			display: block;
		}
		.sub-nav-sel {
			color: #e4002b;
			border-bottom: 2px solid #e4002b;
		}
	}
}

.btn-new {
	position: absolute;
	right: 0px;
	top: 0px;
	//width: 34px;
	//height: 34px;
	//line-height: 34px;
	//border-radius: 34px;
	margin-right: 15px;
	margin-top: 15px;
	&::after {
		content: '+ Nuovo Annuncio';
	}
	@media screen and (min-width: 560px) {
		margin-right: 15px;
		margin-top: 0px;
		width: auto;
		border-radius: 4px;
		&::after {
			content: '+ Nuovo Annuncio';
		}
	}
	@media screen and (min-width: 1025px) {
		margin-right: 0px;
	}
}
