@media screen and (min-width: 560px) {
	.container {
	  margin-top: 20px;
	}
}

.projects-list {
  width: 100%;
  display: inline-block;
  @media screen and (max-width: 1024px) {
    padding: 10px;
  }
	.client-form {
		padding: 0px;
		.container-field {
			.check-filters {
				margin-top: 0px;
			}
			.validation-error {
				display: none;
			}
		}
		.radio-as-check {
			width: 218px!important;
		}
	}

  .projects-list-title {
    font-size: 18px;
    font-weight: 700;
  }
  .projects-list-subtitle {
    line-height: 60px;
    @media screen and (max-width: 600px) {
      line-height: 25px;
      padding-left: 10px;
      margin-bottom: 15px;
    }
  }
  .projects-list-performance {
    cursor: pointer;
    img {
      transform: rotate(90deg);
      transition: all .5s ease;
      margin-top: 2px;
      width: 11px;
      margin-left: 16px;
    }
  }
  .projects-list-performance-selected {
    img {
      transform: rotate(270deg);
    }
  }

  .project-list-container {
    clear: both;
    transition: all .5s ease;
    .project-list-container-title {
      border-bottom: 1px solid #d8dbdf;
      width: 100%;
      height: 40px;
      line-height: 40px;
      padding-left: 20px;
      font-size: 10px;
      font-weight: 700;
    }
    .project-check {
      width: 20px;
      height: 20px;
      border: 2px solid #c1c5c8;
      border-radius: 2px;
      float: left;
      cursor: pointer;
      margin-top: 83px;
      background-image: url(/admin/assets/img/check_white.svg);
      background-size: 15px;
      background-repeat: no-repeat;
      background-position: center center;
      &:focus {
        border: 2px solid rgb(0, 132, 255);
      }
    }
  }

  ul {
    width: 100%;
    display: inline-block;
    li {
      width: 100%;
      display: inline-block;
      margin: 0px 0px 15px;
      .project-item {
				background: #fff;
        width: 100%;
        border: 1px solid #e4e6eb;
				border-radius: 4px;
				overflow: hidden;
        display: inline-block;
        float: right;

				@media screen and (min-width: 769px) {
	        width: 100%;
	        border: 1px solid #e4e6eb;
					border-radius: 4px;
					overflow: hidden;
	        display: inline-block;
	        float: right;
				}

				.item-top {
          border-bottom: 1px solid #e4e6eb;
          height: 36px;
          float: left;
          width: 100%;
          img {
            width: 20px;
            margin-right: 10px;
            vertical-align: middle;
          }
          div {
            height: 35px;
            line-height: 25px;
          }
          .on-off {
            float: left;
            width: 200px;
            line-height: 35px;
            text-align: center;
            img {
              opacity: 1;
              margin-left: 10px;
            }
            @media screen and (max-width: 600px) {
              width: 35px;
              img {
                margin: 0px;
              }
              span {
                display: none;
              }
            }
          }
					.form-on-off {
						float: left;
						padding-left: 0px;
						width: 100px;
						float: left;
						@media screen and (min-width: 375px) {
							border-right: 1px solid #d8d8df;
						}
						label {
							text-align: center;
							padding: 0px!important;
						}
						label div {
							text-align: center;
						}
						label > svg {
							width: 30px;
						}
						.first {
							border-radius: 2px 0px 0px 2px;
							border: 1px solid #d8d8df;
							width: auto;
							background: #fff;
						}
						.last {
							border: 1px solid #d8d8df;
							border-left: none!important;
							border-radius:0px 2px 2px 0px;
							width: auto;
							background: #fff;
						}
						.custom-radio-container .floating:hover {
							background: #d8d8df!important;
							border-color: #d8d8df;
							color:#333f48;
						}
						.custom-radio-container .selected-radio {
							background-color: rgba(0, 132, 255, 1)!important;
							border-color: rgb(0, 132, 255)!important;
								color:#fff;
						}
						.custom-radio-container .selected-radio:hover {
							background-color: rgba(0, 132, 255, 1)!important;
							border-color: rgb(0, 132, 255)!important;
							color:#fff;
						}
						input[type="radio"] + label > div	{
							padding: 0px;
						}
					}
					.item-action-no-clear {
						margin-top: 6px;
						float: left;
	          div {
	            clear: none;
	          }
	        }
          .helper {
              display: inline-block;
              height: 100%;
              vertical-align: middle;
          }
					.item-top-title {
						float: left;
						line-height: 36px;
						margin-left: 10px;
						display: none;
						font-size: 13px;
						font-weight: 700;
						@media screen and (min-width: 375px) {
							max-width: calc(100% - 190px);
							display: block;
							white-space: nowrap;
	            text-overflow: ellipsis;
	            overflow: hidden;
						}
						@media screen and (min-width: 560px) {
							max-width: unset;
							margin-left: 15px;
						}
					}
        }

				.item-container {
					width: 100%;
					height: auto;
					display: inline-block;
					@media screen and (min-width: 560px) {
						padding: 20px;
					}
					.item-image {
						position: relative;
						float: left;
						overflow: hidden;
						width: -webkit-calc(100% - 32px);
						width: -moz-calc(100% - 32px);
						width: calc(100% - 32px);
						margin: 16px 16px 0px;
						@media screen and (min-width: 560px) {
							height: 133px;
							width: auto;
							margin-right: 20px;
							margin-top: 0px;
							margin-left: 0px;
						}
						@media screen and (min-width: 779px) {
							height: 133px;
							width: 133px;
							margin-right: 20px;
							margin-top: 0px;
							margin-left: 0px;
						}
						@media screen and (min-width: 890px) {
							height: 133px;
							width: auto;
						}
						img {
		          height: auto;
		          width: 100%;
							@media screen and (min-width: 560px) {
								width: 222px;
								height: 133px;
							}
						}
						.item-head-title {
							position: absolute;
							bottom: 30px;
							left: 0px;
							@media screen and (min-width: 560px) {
								bottom: 30px;
								left: 0px;
							}
	          }
						.item-head-archive {
							float: left;
	            width: auto;
	            background: #fff;
	            color: #e4002b;
	            font-weight: 700;
	            text-align: center;
							height: 20px;
	            line-height: 20px;
	            font-size: 9px;
	            text-transform: uppercase;
							padding: 0px 10px;
						}
	          .item-head-depth {
	            float: left;
	            width: 80px;
	            color: #fff;
	            font-weight: 700;
	            text-align: center;
	            height: 18px;
	            line-height: 18px;
	            font-size: 9px;
	            text-transform: uppercase;
	          }
						.item-image-preview {
							width: 100%;
							min-height: 100%;
							background-color: rgba(50, 63, 72, 0.6);
							position: absolute;
							top: 0px;
							color: #fff;
							line-height: 133px;
							text-align: center;
							font-size: 20px;
							opacity: 0;
							cursor: pointer;
							transition-duration: 0.2s, 0.2s;
						  transition-timing-function: ease-in, ease-out;
							svg {
								margin-top: calc((100% - 48px) / 4);
							}
						}
						.item-image-preview-load, .item-image-preview:hover {
							opacity: 1;
						}
						form {
							height: 0px;
							position: absolute;
						}
	        }
					.item-characteristics {
						position: relative;
	          float: left;
	          text-align: left;
						height: 133px;
						width: -webkit-calc(100% - 32px);
						width: -moz-calc(100% - 32px);
						width: calc(100% - 32px);
						margin: 16px 16px 0px;
						@media screen and (min-width: 560px) {
							width: auto;
							margin: 0px;
						}
	          div {
	            white-space: nowrap;
	            text-overflow: ellipsis;
	            overflow: hidden;
	          }
						.item-characteristics-first-row {
	            line-height: 24px;
	            width: 200px;
							font-size: 18px;
	          }
	          .item-characteristics-row {
	            line-height: 22px;
	            width: 200px;
							font-size: 14px;
							@media screen and (min-width: 890px) {
								margin-right: 20px;
							}
	          }
						.item-characteristics-gray {
							color: #96a1b0;
							font-size: 12px;
						}
						.item-view {
							margin-top: 15px;
							float: left;
							width: 33%;
							line-height: 35px;
							text-align: center;
							border-right: 1px solid #e4e6eb;
							@media screen and (min-width: 560px) {
								width: 115px;
							}
							.item-view-first {
								float: left;
								width: 100%;
								font-size: 28px;
							}
							.item-view-central {
								float: left;
								width: 100%;
								color: #96a1b0;
							}
							.item-view-last {
								float: left;
								width: 100%;
								color: #01c694;
							}
						}
						.item-view:last-of-type {
							border: none;
						}
	        }
					.item-requests {
						background: #f8f9fa;
						border-radius: 4px;
						@media screen and (min-width: 560px) {
							background: #fff;
							border-right: 1px solid #e4e6eb;
							margin-top: 20px;
							float: left;
						}
						@media screen and (min-width: 778px) {
							border-left: 1px solid #e4e6eb;
							border-right: none;
							margin-top: 0px;
							float: right;
						}
						@media screen and (min-width: 1024px) {
							border-right: 1px solid #e4e6eb;
							margin-top: 0px;
							float: left;
						}
					}
					.item-actions {
						float: right;
						height: auto;
						padding: 15px 0px 15px;
						position: relative;
						.item-actions-text {
							display: none;
						}
	          @media screen and (max-width: 560px) {
	            width: 100%;
	            min-height: auto;
							text-align: center;
							.btn {
								float: none;
								width: 100px;
								display: inline-block;
								margin-left: 20px;
							}
	          }
						@media screen and (min-width: 560px) {
							width: auto;
	            min-height: auto;
							float: right;
						}
						@media screen and (min-width: 778px) {
							width: 100%;
	            min-height: auto;
							float: left;
						}
						@media screen and (min-width: 1024px) {
							width: 170px;
	            min-height: 130px;
							padding: 0px;
							text-align: center;
							.item-actions-text {
								display: inline-block;
								width: 100px;
								margin-left: 20px;
								padding: 45px 0px 10px;
							}
							.btn {
								float: none;
								width: 100px;
								display: inline-block;
								margin-left: 20px;
							}
						}
	        }
				}
      }
    }
		li:first-child {
			background: transparent;
		}
  }

	.profiled-overlay-container {
		position: relative;
		display: block;
		div {
			height: auto!important;
			width: 160px;
			display: inline-block;
			line-height: normal;
		}
		.profiled-overlay {
			position: absolute;
			background-color: #fff;
			width:160px;
			padding: 15px;
			color: #6a7785;
			z-index: 99999;
			top: 5px;
			-webkit-animation: fadeInFromNone 0.25s ease-out;
			-moz-animation: fadeInFromNone 0.25s ease-out;
			-o-animation: fadeInFromNone 0.25s ease-out;
			animation: fadeInFromNone 0.25s ease-out;
			border: 1px solid #e4e4e4;
			border-top: 1px solid #e4e4e4;
			right:10px;
			ul {
				li {
					width: calc(100% - 20px);
					margin-bottom: 0px;
					line-height: 25px;
					cursor: pointer;
				}
			}
		}
		.profiled-overlay:after, .profiled-overlay:before {
			bottom: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			left: -30px;
		}

		.profiled-overlay:after {
			border-color: rgba(183, 187, 192, 0);
			border-width: 10px;
			margin-left: 168px;
			border-bottom-color: #fff;
		}
		.profiled-overlay:before {
			border-color: rgba(183, 187, 192, 0);
			border-width: 11px;
			margin-left: 167px;
			border-bottom-color: rgba(183, 187, 192, 1);
		}
	}

	.this-sticky-cont {
		.client-form {
			.separator {
				float: left;
		    width: 10px;
		    text-align: center;
		    margin-right: 10px;
		    color: rgb(106, 119, 133);
		    font-size: 19px;
				padding-top: 5px;
			}
			input[type='radio'] + label {
			    padding-top: 5px;
			}
		}
		@media screen and (max-width: 600px) {
			.check {
				margin-top: 10px;
				margin-left: 0px;
			}
			.separator {
				height: 1px;
				color: transparent!important;
				clear: both;
				width: 100%!important;
			}
		}
	}
}
