.req {
	position: relative;
	width: calc(100% - 20px);
	margin: 15px auto;
	@media screen and (min-width: 1040px) {
		width: 100%;
		display: inline-block;
	}
	.requests {
		background: rgb(255, 255, 255);
		float: left;
		width: 100%;
		border-radius: 4px;
		margin-bottom: 15px;
		overflow: hidden;
		border: 1px solid #e4e6eb;
		position: relative;
		@media screen and (min-width: 560px) {
			min-height: 225px;
		}
		.requests-top {
			border-bottom: 1px solid #e4e6eb;
	    height: 36px;
			line-height: 36px;
	    float: left;
	    width: 100%;
			padding-left: 10px;
			div {
				float: left;
			}
			div:last-child {
				width: 36px;
				height: 36px;
				float: right;
				margin-right: 5px;
				text-align: center;
				cursor: pointer;
				svg {
					margin-top: 5px;
				}
			}
			.new-request-label {
				background-color: #ffb022;
				width: 48px;
				height: 16px;
				line-height: 16px;
				color: #fff;
				font-family: 'MuseoSans_500';
				font-weight: 500;
				font-size: 10px;
		    text-align: center;
		    margin-top: 10px;
		    margin-right: 15px;
				float: left;
			}
		}
		.requests-bottom {
			float: left;
	    width: 100%;
			padding: 15px;
			.requests-left {
				float: left;
				width: 100%;
				@media screen and (min-width: 560px) {
					width: 370px;
					margin-right: 15px;
				}
				img {
					float: left;
					width: 98px;
					height: 98px;
					margin-right: 15px;
					@media screen and (min-width: 375px) {
						width: 150px;
						height: 98px;
					}
					@media screen and (min-width: 560px) {
						width: 170px;
						height: 98px;
					}
				}
				.requests-left-detail {
					float: left;
					width: 150px;
					line-height: 25px;
					@media screen and (min-width: 375px) {
						width: 150px;
						padding: 0px;
						border-bottom: none;
					}
					@media screen and (min-width: 560px) {
						width: 170px;
						border-bottom: none;
					}
				}
			}
			.requests-central {
				float: left;
				width: auto;
				line-height: 25px;
				font-size: 13px;
				position: relative;
				width: 100%;
				margin-top: 10px;
				@media screen and (min-width: 1040px) {
					width: 607px;
					padding: 0px;
					border-left: 1px solid #e4e6eb;
					margin-top: 0px;
				}
				.requests-central-left {
					float: left;
					width: 60px;
					height: 66px;
					text-align: center;
				}
				.requests-central-right {
					float: left;
					width: calc(100% - 60px);
					.requests-central-text {
						float: left;
						width: 100%;
						font-weight: 700;
					}
				}
				.requests-central-answer {
					float: left;
					background-color: #f8f9fa;
					max-height: 67px;
					padding: 10px;
					position: relative;
					transition-duration: 0.4s, 0.4s;
				  transition-timing-function: ease-in, ease-out;
					overflow: hidden;
					border-radius: 4px;
					margin: 15px 0px 0px 0px;
					width: 100%;
					@media screen and (min-width: 1040px) {
						width: calc(100% - 15px);
						margin: 10px 15px 0px 15px;
					}
					.requests-central-answer-icon {
						float: left;
						width: 50px;
						height: 60px;
					}
					.requests-central-answer-detail {
						float: left;
						width: calc(100% - 50px);
						max-width: calc(100% - 50px);
						text-align: justify;
						.requests-central-answer-date {
							float: left;
							color: #96a1b0;
							font-size: 12px;
							width: 100%;
						}
						.requests-central-answer-text {
							float: left;
							max-width: calc(100% - 39px);
							transition-duration: 0.5s, 0.5s;
							transition-timing-function: ease-in, ease-out;
						}
						.requests-central-answer-expand {
							position: absolute;
							bottom: 0px;
							right: 10px;
							cursor: pointer;
							z-index: 1;
							svg {
								transition-duration: 0.2s, 0.2s;
							  transition-timing-function: ease-in, ease-out;
							}
							.rotate {
								transform: rotate(180deg);
							}
						}
					}
				}
				.expand-answer {
					max-height: 640px;
					@media screen and (min-width: 560px) {
						max-height: 590px;
					}
				}
			}
			.requests-right {
				display: inline-block;
				position: relative;
				margin: 15px 0px 0px;
				float: right;
				@media screen and (min-width: 560px) {
					position: absolute;
					top: 51px;
					right: 15px;
					width: auto;
					padding: 0px;
					margin: 0px;
				}
				.btn {
					width: 120px;
				}
			}
		}
		.requests-under {
			width: 100%;
			display: none;
			background-color: #fff;
			z-index: 2;
			.client-form {
				width: 100%;
				.container-field {
					width: 100%;
					margin-left: 0px;
					@media screen and (min-width: 560px) {
						width: 100%!important;
						margin-left: 0px;
					}
					@media screen and (min-width: 1040px) {
						width: calc(100% - 15px)!important;
						margin-left: 15px;
					}
					textarea {
						min-height: 70px;
					}
				}
				.button-container {
					width: auto;
				}
				.btn {
					margin-top: 20px;
					float: right;
					padding-left: 40px;
					padding-right: 40px;
					background-color: #e4002b;
				}
				.btn:hover {
					background-color: #a30000;
				  border-color: #a30000;
				}
				.btn-white {
					float: left;
					margin-right: 20px;
					max-width: 100px;
					padding-left: 15px;
					padding-right: 15px;
					@media screen and (min-width: 1040px) {
						margin-left: 15px;
					}
				}
			}
		}
		.requests-under-show {
			display: block;
			position: fixed;
			top: 0px;
			right: 0px;
			z-index: 32;
			height: 100%;
			padding: 10px;
			textarea {
				height: 200px;
			}
			@media screen and (min-width: 560px) {
				position: absolute;
				padding: unset;
				textarea {
					height: 70px;
				}
			}
		}
	}

	.requests-expand {
		position: absolute;
		.client-form {
			margin: 15px 0px 15px;
			.container-field {
				width: calc(100% - 20px)!important;
			}
			.btn {
				float: right;
				width: auto;
		    padding: 0px 40px;
				margin-right: 10px;
			}
		}
	}
}
