/*
	HEADER
*/

#header {
	position:relative; z-index:31;
	width:100%;
	height:108px;
	background:#FFF;
	@media screen and (max-width: 600px) {
		top: 0px;
		position: fixed;
		border-bottom: 1px solid #dddddd;
	}
	.hamburger {
		display: none;
		cursor: pointer;
	}
	input[type=checkbox]:checked + label + nav {
		display: block;
	}
	input[type=checkbox]:checked + label + nav + div {
		display: block;
	}
	.mobile-opacity {
		display: none;
	}
	.logo-container {
		width: 100%;
		height: 70px;
	}
	@media screen and (max-width: 600px) {
		height:60px;
		.hamburger {
			display: block;
			padding: 15px;
			width: 58px;
		}
		.mobile-opacity {
			position: fixed;
			top: 60px;
			width: 100%;
			background: rgba(51,63,72,.5);
			z-index: 1;
			bottom: 0;
		}
		.logo-container {
			display: none;
		}
	}


	nav {
		max-width: 1024px;
		margin: 0 auto;
		font-size: 12px;
		z-index: 2;
		@media screen and (max-width: 600px) {
			width: 80%;
			position: fixed;
			padding-top: 10px;
			background:#FFF;
			height: 100%;
			border-top: 1px solid rgba(51,63,72,.2);
			margin-top: 2px;
			overflow: hidden;
			display: none;
		}
		ul {

			a {
				color: #323f48;
			}

			li {
				float: left;
				min-width: 100px;
				cursor: pointer;
				padding: 0px!important;
				text-align: center;
				font-size: 13px;
				font-weight: 700;
				line-height: 28px;
				height: 28px;
				@media screen and (max-width: 600px) {
					clear: both;
					height: auto;
					line-height: auto;
					text-align: left;
					margin-left: 20px;
				}

				ul {
					position: absolute;
					background: #fff;
					margin-top: 1px;
					@media screen and (max-width: 600px) {
						position: relative;
						clear: both;
					}
					li {
						clear: both;
						color: #323f48!important;
						border-left: 2px solid #fff;
						padding: 0px 5px!important;
						text-align: left;
					}
					li:hover {
						color: #e4002b!important;
						border-left: 2px solid #e4002b;
						border-bottom: none!important;
					}
				}
			}
			li:hover {
				color: #e4002b;
				border-bottom: 2px solid #e4002b;
				@media screen and (max-width: 600px) {
					border-bottom: none!important;
				}
			}
			.agency-logo {
				cursor: default;
			}
			.agency-logo:hover {
				border-bottom: none!important;
			}
			.guide-link-a {
				color: #fff;
				text-decoration: none;
				&:hover {
					color: #fff;
					text-decoration: none;
				}
				.guide-link {
					width: 160px;
					height: 28px;
					border-radius: 4px;
					background-color: #e4002b;
					color: #fff;
					float: right;
					margin-right: 20px;
					margin-top: 2px;
					font-weight: 500;
					transition-duration: 0.2s, 0.2s;
					transition-timing-function: ease-in, ease-out;
					&:hover {
						background-color: #a30000;
						border-bottom: none!important;
					}
				}
			}
		}
	}
}
